USE [BANK]
GO
/****** Object:  Table [dbo].[BANKA_SUBE]    Script Date: 6.03.2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKA_SUBE](
	[SubeID] [smallint] IDENTITY(1,1) NOT NULL,
	[BankaID] [tinyint] NOT NULL,
	[IlceID] [smallint] NOT NULL,
 CONSTRAINT [PK_BANKA_SUBE] PRIMARY KEY CLUSTERED 
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANKA_SUBE] ON 

INSERT [dbo].[BANKA_SUBE] ([SubeID], [BankaID], [IlceID]) VALUES (1, 1, 194)
INSERT [dbo].[BANKA_SUBE] ([SubeID], [BankaID], [IlceID]) VALUES (2, 1, 636)
INSERT [dbo].[BANKA_SUBE] ([SubeID], [BankaID], [IlceID]) VALUES (3, 1, 742)
GO
SET IDENTITY_INSERT [dbo].[BANKA_SUBE] OFF
ALTER TABLE [dbo].[BANKA_SUBE]  WITH CHECK ADD  CONSTRAINT [FK_BANKA_SUBE_BANKA_SIRKET] FOREIGN KEY([BankaID])
REFERENCES [dbo].[BANKA_SIRKET] ([BankaID])
GO
ALTER TABLE [dbo].[BANKA_SUBE] CHECK CONSTRAINT [FK_BANKA_SUBE_BANKA_SIRKET]
GO
ALTER TABLE [dbo].[BANKA_SUBE]  WITH CHECK ADD  CONSTRAINT [FK_BANKA_SUBE_ILCE] FOREIGN KEY([IlceID])
REFERENCES [dbo].[ILCE] ([IlceID])
GO
ALTER TABLE [dbo].[BANKA_SUBE] CHECK CONSTRAINT [FK_BANKA_SUBE_ILCE]
GO
