USE [BANK]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 6.03.2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[TCKimlikNo] [bigint] NULL,
	[KategoriID] [char](1) NULL,
	[IlkAd] [nvarchar](50) NULL,
	[IkinciAd] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[DTarihi] [smalldatetime] NULL,
	[Cinsiyet] [bit] NULL,
	[MedeniHal] [bit] NULL,
	[YasGrupID] [tinyint] NOT NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] ON 

INSERT [dbo].[MUSTERI] ([MusteriID], [TCKimlikNo], [KategoriID], [IlkAd], [IkinciAd], [Soyad], [DTarihi], [Cinsiyet], [MedeniHal], [YasGrupID]) VALUES (1, 25128307503, N'F', N'Delal', N'Abdullatif', N'ABZAK', CAST(N'1985-12-31T00:00:00' AS SmallDateTime), 1, 0, 3)
INSERT [dbo].[MUSTERI] ([MusteriID], [TCKimlikNo], [KategoriID], [IlkAd], [IkinciAd], [Soyad], [DTarihi], [Cinsiyet], [MedeniHal], [YasGrupID]) VALUES (2, 66163564932, N'B', N'Fatma', N'Özlem', N'ACAR', CAST(N'1974-07-25T00:00:00' AS SmallDateTime), 0, 1, 4)
INSERT [dbo].[MUSTERI] ([MusteriID], [TCKimlikNo], [KategoriID], [IlkAd], [IkinciAd], [Soyad], [DTarihi], [Cinsiyet], [MedeniHal], [YasGrupID]) VALUES (3, 99144722186, N'E', N'Özde', NULL, N'ACARKAN', CAST(N'1985-10-24T00:00:00' AS SmallDateTime), 0, 0, 3)
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] OFF
ALTER TABLE [dbo].[MUSTERI] ADD  CONSTRAINT [DEF_MUSTERI_YasGrupID]  DEFAULT ((0)) FOR [YasGrupID]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_MUSTERI_KATEGORI] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[MUSTERI_KATEGORI] ([KategoriID])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_MUSTERI_KATEGORI]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_YAS_GRUP] FOREIGN KEY([YasGrupID])
REFERENCES [dbo].[YAS_GRUP] ([YasGrupID])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_YAS_GRUP]
GO
