USE [BANK]
GO
/****** Object:  Table [dbo].[VARLIK_TUR]    Script Date: 6.03.2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARLIK_TUR](
	[TurID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Tur] [varchar](50) NULL,
 CONSTRAINT [PK_VARLIK_TUR] PRIMARY KEY CLUSTERED 
(
	[TurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VARLIK_TUR] ON 

INSERT [dbo].[VARLIK_TUR] ([TurID], [Tur]) VALUES (1, N'Daire')
INSERT [dbo].[VARLIK_TUR] ([TurID], [Tur]) VALUES (2, N'Arsa')
INSERT [dbo].[VARLIK_TUR] ([TurID], [Tur]) VALUES (3, N'Otomobil')
SET IDENTITY_INSERT [dbo].[VARLIK_TUR] OFF
