USE [BANK]
GO
/****** Object:  Table [dbo].[MUSTERI_VARLIK]    Script Date: 6.03.2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI_VARLIK](
	[VarlikID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[TurID] [tinyint] NOT NULL,
	[Deger] [decimal](18, 0) NOT NULL,
	[DovizID] [char](3) NOT NULL,
	[EdinmeTarihi] [smalldatetime] NULL,
 CONSTRAINT [PK_MUSTERI_VARLIK] PRIMARY KEY CLUSTERED 
(
	[VarlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MUSTERI_VARLIK] ON 

INSERT [dbo].[MUSTERI_VARLIK] ([VarlikID], [MusteriID], [TurID], [Deger], [DovizID], [EdinmeTarihi]) VALUES (1, 425, 7, CAST(17800 AS Decimal(18, 0)), N'USD', CAST(N'2004-09-30T00:00:00' AS SmallDateTime))
INSERT [dbo].[MUSTERI_VARLIK] ([VarlikID], [MusteriID], [TurID], [Deger], [DovizID], [EdinmeTarihi]) VALUES (2, 728, 6, CAST(23500 AS Decimal(18, 0)), N'EUR', CAST(N'2014-07-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[MUSTERI_VARLIK] ([VarlikID], [MusteriID], [TurID], [Deger], [DovizID], [EdinmeTarihi]) VALUES (3, 547, 4, CAST(45300 AS Decimal(18, 0)), N'EUR', CAST(N'2015-01-03T00:00:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[MUSTERI_VARLIK] OFF
ALTER TABLE [dbo].[MUSTERI_VARLIK]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_VARLIK_DOVIZ_TUR] FOREIGN KEY([DovizID])
REFERENCES [dbo].[DOVIZ_TUR] ([DovizID])
GO
ALTER TABLE [dbo].[MUSTERI_VARLIK] CHECK CONSTRAINT [FK_MUSTERI_VARLIK_DOVIZ_TUR]
GO
ALTER TABLE [dbo].[MUSTERI_VARLIK]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_VARLIK_MUSTERI] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[MUSTERI_VARLIK] CHECK CONSTRAINT [FK_MUSTERI_VARLIK_MUSTERI]
GO
ALTER TABLE [dbo].[MUSTERI_VARLIK]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_VARLIK_VARLIK_TUR] FOREIGN KEY([TurID])
REFERENCES [dbo].[VARLIK_TUR] ([TurID])
GO
ALTER TABLE [dbo].[MUSTERI_VARLIK] CHECK CONSTRAINT [FK_MUSTERI_VARLIK_VARLIK_TUR]
GO
