USE [BANK]
GO
/****** Object:  Table [dbo].[ILCE]    Script Date: 6.03.2020 08:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILCE](
	[IlceID] [smallint] IDENTITY(1,1) NOT NULL,
	[IlceAd] [varchar](30) NOT NULL,
	[SehirID] [tinyint] NOT NULL,
 CONSTRAINT [PK_ILCE] PRIMARY KEY CLUSTERED 
(
	[IlceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ILCE] ON 

INSERT [dbo].[ILCE] ([IlceID], [IlceAd], [SehirID]) VALUES (1, N'Seyhan', 1)
INSERT [dbo].[ILCE] ([IlceID], [IlceAd], [SehirID]) VALUES (2, N'Ceyhan', 1)
INSERT [dbo].[ILCE] ([IlceID], [IlceAd], [SehirID]) VALUES (3, N'Feke', 1)
GO
SET IDENTITY_INSERT [dbo].[ILCE] OFF
ALTER TABLE [dbo].[ILCE]  WITH CHECK ADD  CONSTRAINT [FK_ILCE_SEHIR] FOREIGN KEY([SehirID])
REFERENCES [dbo].[SEHIR] ([SehirID])
GO
ALTER TABLE [dbo].[ILCE] CHECK CONSTRAINT [FK_ILCE_SEHIR]
GO
